.About {
  h2 {
    text-align: center;
  }
}

.vertical-timeline-element-content {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.vertical-timeline-element-icon {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.timeline-title {
  margin-top: 0px;
}
