.about-container {
  position: fixed;
  top: 0;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
  margin: 10vh 10vw;
  z-index: 7;
  transition: all 0.7s ease-in-out;
  transition-delay: 0.7s;
  transition-property: transform;

  &.hidden {
    z-index: 7;
    transform: translateX(-100vw);
  }
}

.second-section {
  margin-top: 10vh;
}

.section-header {
  font-size: 150%;
}

.skills {
  font-size: 120%;
}
