@import 'colors';

.app {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.no-scroll {
  overflow: hidden;
}

.link-container {
  height: 100vh;
  width: 5vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 5;
  background-color: $background;
  transition: width 0.7s ease-in-out;
  transition-delay: 0.7s;
  transition-property: width, z-index;

  @media (max-width: 768px) {
    width: 15vw;
  }

  .side-link-container {
    height: 100vh;
    background: linear-gradient($highlight, $highlight) no-repeat center/1px 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in-out;

    &.expanded {
      background: linear-gradient($highlight, $highlight) no-repeat center/1px 100%;
    }
  }

  &.expanded {
    width: 100vw;
    z-index: 6;

    .about-link,
    .contact-link {
      color: $highlight;
    }
  }

  &.left {
    left: 0;
    justify-content: flex-end;
  }

  .about-link {
    transform: rotate(-90deg);
    background-color: $background;
  }

  &.right {
    right: 0;
    justify-content: flex-start;
  }

  .contact-link {
    transform: rotate(90deg);
    background-color: $background;
  }
}

.link {
  height: auto;
  overflow: visible;
  color: $highlight-50;
  text-decoration: none;
  text-align: center;
  z-index: 5;
  cursor: url('./assets/cursor/cursorClick.svg') 9 9, auto;
  transition: all 1s linear;
  padding: 0 12px;

  &:hover {
    color: $highlight;
    transition: all 0.2s linear;
  }
}

.hidden-link {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1s linear;
}

.home-link {
  position: fixed;
  top: 3vh;
  left: 45vw;
  width: 10vw;

  &.hidden-link {
    top: 1vh;
    transition: all 1s linear;
  }
}

.projects-link {
  position: fixed;
  bottom: 3vh;
  left: 45vw;
  width: 10vw;

  &.hidden-link {
    bottom: 5vh;
    transition: all 1s linear;
  }
}

.projects-container {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.projects-image {
  width: 30vw;
  height: 80vh;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.2s linear;

  &:hover {
    filter: none;
    height: 85vh;
    width: 35vw;
  }

  +.projects-image {
    margin-left: -10vw;
  }
}

.projects-divider {
  width: 30vw;
  height: 80vh;
  transition: all 0.2s linear;
  cursor: url('./assets/cursor/cursorClick.svg') 9 9, auto;

  &:hover {
    height: 85vh;
    width: 35vw;
  }

  +.projects-divider {
    margin-left: -10vw;
  }
}

.projects-title {
  width: 25vw;
  padding-left: 5vw;
}

.first-image {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.second-image {
  clip-path: polygon(20% 0, 85% 0, 100% 100%, 0% 100%);
}

.third-image {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 15% 100%);
}

.fourth-image {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
