@import 'colors';

.app {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.no-scroll {
  overflow: hidden;
}

.link {
  height: auto;
  overflow: hidden;
  opacity: 0.5;
  text-decoration: none;
  text-align: center;
  z-index: 5;
  cursor: url('./assets/cursor/cursorClick.svg') 9 9, auto;
  transition: all 1s linear;

  &:hover {
    opacity: 1;
    transition: all 0.2s linear;
  }
}

.hidden-link {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1s linear;
}

.home-link {
  position: fixed;
  top: 3vh;
  left: 45vw;
  width: 10vw;

  &.hidden-link {
    top: 1vh;
    transition: all 1s linear;
  }
}

.projects-link {
  position: fixed;
  bottom: 3vh;
  left: 45vw;
  width: 10vw;

  &.hidden-link {
    bottom: 5vh;
    transition: all 1s linear;
  }
}

.about-link {
  position: fixed;
  top: 45vh;
  left: 1.5vw;
  width: 10vh;
  transform: rotate(-90deg);
  text-align: right;
}

.contact-link {
  position: fixed;
  top: 45vh;
  right: 1.5vw;
  width: 10vh;
  transform: rotate(90deg);
  text-align: left;
}

.projects-container {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.projects-image {
  width: 30vw;
  height: 80vh;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.2s linear;

  &:hover {
    filter: none;
    height: 85vh;
    width: 35vw;
  }

  +.projects-image {
    margin-left: -10vw;
  }
}

.projects-divider {
  width: 30vw;
  height: 80vh;
  transition: all 0.2s linear;
  cursor: url('./assets/cursor/cursorClick.svg') 9 9, auto;

  &:hover {
    height: 85vh;
    width: 35vw;
  }

  +.projects-divider {
    margin-left: -10vw;
  }
}

.projects-title {
  width: 25vw;
  padding-left: 5vw;
}

.first-image {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.second-image {
  clip-path: polygon(20% 0, 85% 0, 100% 100%, 0% 100%);
}

.third-image {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 15% 100%);
}

.fourth-image {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
