.Contact {
  text-align: center;
  a {
    color: black;
  }
}

.social-links {
  a {
    margin: 8px;
    font-size: 200%;
    color: black;
  }
}

.mono {
  a {
    color: white;
  }
}

.tint {
  a {
    color: #282842;
  }
}
