.Project {
  height: 100vh;
  scroll-snap-align: start;
  padding: 10vh 10vw;
}

.project-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  width: calc(60vw + 16px);
  margin: 0 auto;
  position: relative;

  a {
    text-decoration: none;
  }

  .project-image {
    width: 35vw;
  }

  .project-title {
    width: 35vw;
  }

  .project-description {
    width: 35vw;
  }
}
