.Welcome {
  margin-top: 5vh;
  padding-left: 5vh;
  padding-bottom: 5vh;
}

h1 {
  padding-top: 55vh;
  font-size: 400%;
  margin-bottom: 0px;
}

.typewriter {
  background-color: black;
  color: white;
  font-size: 200%;
}

.typewriter-cursor {
  font-size: 200%;
}

.mono {
  .Welcome {
    backdrop-filter: blur(4px);
    border: solid 1px white;
  }
  .typewriter {
    background-color: transparent;
  }
}

.tint {
  .typewriter {
    background-color: transparent;
    color: #282842;
  }
  .typewriter-cursor {
    color: #282842;
  }
}

.type {
  .Welcome {
    border-left: solid 4px black;
  }
  .typewriter {
    color: cornsilk;
  }
}
