@import 'colors';

.word-container {
  width: 288px;
}

.letter-container {
  display: flex;
  gap: 8px;
  width: 288px;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.letter-input {
  background: none;
  border: none;
  border-bottom: solid 1px $highlight-50;
  width: 20px;
  color: $highlight;
  cursor: url('./assets/cursor/cursorClick.svg') 9 9, auto;
  transition: all 0.2s linear;
  caret-color: transparent;
  font: inherit;
  font-size: inherit;
  text-align: inherit;

  &:hover {
    border-bottom: solid 1px $highlight;
  }

  &:focus {
    outline: none;
    border-bottom: solid 1px $highlight;
  }

  &.guessed {
    transition: all 0.5s linear;
    border-bottom: none;
    width: 14px;
    cursor: url('./assets/cursor/cursor.svg') 9 9, auto;
  }
}
